.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
    display: flex;
    outline: 1px solid rgb(223, 223, 223);
    ;
    border-top: 1px solid rgb(255, 255, 255);
    background: rgb(192, 192, 192);
    color: black;
}

.footerApps {
    display: flex;
    flex: 1;
    height: 100%;
    min-width: 0;
}

div.start {
    flex-shrink: 0;
    padding: 2px 4px;
    width: 52px;
}

.start img {
    width: 16px;
    height: 16px;
}

.app {
    line-height: 14px;
    padding: 2px;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 200px;
    text-align: left;
    outline: none;
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    position: relative;
    border-color: rgb(223, 223, 223) rgb(128, 128, 128) rgb(128, 128, 128) rgb(223, 223, 223);
    border-style: solid;
    border-width: 2px 2px;
    border-image: url("/assets/various/border.svg") 64 / 2px;
    margin: 2px;
}

.app:hover:active {
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 2px 2px;
    border-image: url("/assets/various/border-inset.svg") 64 / 2px;
}

.active {
    background: url("/assets/various/checker.png") repeat;
    image-rendering: pixelated;
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 2px 2px;
    border-image: url("/assets/various/border-inset.svg") 64 / 2px;
    font-weight: bold;
}

.appIcon {
    height: 16px;
    width: 16px;
    padding-right: 4px;
    flex: 0 0 auto;
}

.appText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

.tray {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255) rgb(128, 128, 128);
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    line-height: 22px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 2px;
}

.trayItems {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.trayItem {
    margin-left: 1px;
    font-size: 12px;
}

.time {
    width: 60px;
    text-align: center;
}