.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 128, 128, 255);
  position: fixed;
  z-index: -1000;
}

.shortcut {
  width: 80px;
  height: 80px;
  transform: translate(0px, 0px);
  z-index: 1;
  padding: 4px 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*position: absolute;*/
  box-sizing: border-box;
  touch-action: manipulation;
}

.shortcut>img {
  max-width: 60px;
}

.shortcut:active:hover {
  border-color: #b8d6fc;
  background: linear-gradient(0deg, rgba(193, 220, 252, .6666666667), rgba(220, 235, 252, .6666666667));
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
}

.shortcut:hover {
  background: rgba(242, 247, 254, .4666666667);
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
}


.shortcut-label {
  margin-top: 5px;
  font-family: "MS Sans Serif", "Segoe UI", sans-serif;
  font-size: 10px;
  background: var(--Background);
  color: white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  line-height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
}